@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Zen+Dots&display=swap');
/* 
font-family: 'Kanit', sans-serif;
font-family: 'Zen Dots', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* font-family: 'Caveat', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* font-family: 'Sacramento', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* font-family: 'Fredoka One', cursive; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mainbg {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.homebtn {
  position: absolute;
  top: 40px;
  right: 5vw;
  font-size: 30px;
  background-color: white;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  box-shadow: 0 0 2px 6px #afd275;
}

.homebtn:hover {
  box-shadow: 0 0 6px 6px #3500d3;
}

.main-style-bar-up {
  position: absolute;
  left: 0px;
  background-color: white;
  top: 40px;
  width: 50vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 100px;
  height: 40px;
  animation: mainbarleft 0.5s cubic-bezier(0, 1.38, 1, 1);
  text-align: right;
  padding-right: 2vw;
  font-size: 1.5rem;
  letter-spacing: 5px;
  line-height: 35px;
  color: #212121;
  font-family: 'Zen Dots', cursive;
  box-shadow: 0px 2px 2px 8px blue;
}

@keyframes mainbarleft {
  0% {
    left: -50vw;
  }
}

.main-style-bar-down {
  position: absolute;
  right: 0px;
  background-color: white;
  bottom: 10vh;
  width: 50vw;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 10px;
  height: 40px;
  animation: mainbarright 0.5s cubic-bezier(0, 1.38, 1, 1);
  text-align: left;
  padding-left: 4vw;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #212121;
  font-family: 'Caveat', cursive;
  box-shadow: 0px 2px 2px 8px blue;
}

@keyframes mainbarright {
  0% {
    right: -50vw;
  }
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(60vw, 60vh);
  height: min(60vw, 60vh);
  box-shadow: 0 0 10px 2px #3500d3;
  border-radius: 10px;
  background-color: #afd275;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 1% 0; */
}

.first-options-bar1 {
  width: 96%;
  height: 30%;
  background-color: #1f2833;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  font-family: 'Sacramento', cursive;
  color: white;
  font-size: min(5vh, 5vw);
}

.first-options-bar1:hover,
.small-box:hover {
  background-color: #0b0c10;
}

.small-box {
  width: 30%;
  height: 30%;
  margin: 0 1%;
  background-color: #2e1114;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.05s;
  font-family: 'Sacramento', cursive;
  color: white;
  font-size: min(5vh, 5vw);
}

.processbar1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20px;
  background-color: black;
  animation: shright 0.5s infinite alternate
    cubic-bezier(0.89, 0.08, 0.13, 0.93);
  border-radius: 50px;
  opacity: 1;
}
.processbar2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30px;
  background-color: #3500d3;
  animation: shright 0.5s 0.5s infinite alternate
    cubic-bezier(0.89, 0.08, 0.13, 0.93);
  border-radius: 10px;
  opacity: 0.7;
}

@keyframes shright {
  0% {
    width: 50%;
  }
  100% {
    width: 10%;
  }
}

.score {
  position: absolute;
  left: 2vw;
  bottom: 10vh;
  padding: 5px 10px;
  font-size: min(2vh, 30px);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px #3500d3;
  font-family: 'Kanit', sans-serif;
}
